# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.opensdf
*.user

# Compiled Dynamic libraries
*.so
*.dylib
#*.dll

# Compiled Static libraries
*.lai
*.la
*.a
#*.lib

# Executables
*.exe
*.out
*.app

Debug/
Release/
*.suo
*.sdf

ipch/
packages/
bin/

*.opendb
*.db
*.nupkg
